<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-outline-warning"><i class="fa-solid fa-upload"></i> Importer</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-download"></i> Exporter</button>
    </div>
    <div class="col-md-4" *ngIf="!(origin === 'mvmntstck')">
        <button type="button" class="btn btn-outline-primary" (click)="boutonAjouterClick()"><i class="fa-solid fa-plus"></i> Ajouter</button>
    </div>
</div>
