<div class="container my-container">

    <div class="card justify-content-md-center">
        <div class="card-header text-center">
        <h3>S'incrire</h3>
        </div>

        <div class="card-body">
            <div class="alert alert-danger" *ngIf="errorMessages.length > 0">
                <div *ngFor="let msg of errorMessages">
                    <span>{{msg}}</span>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="clientDto.nom" placeholder="Nom">
                <label for="nom">Nom</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="clientDto.prenom" placeholder="Prenom">
                <label for="prenom">Prenom</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="clientDto.email" placeholder="E-mail">
                <label for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="adresse" name="adresse" [(ngModel)]="clientDto.adresse" placeholder="Adresse">
                <label for="adresse">Adresse</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="numTelephone" name="numTelephone" [(ngModel)]="clientDto.numTelephone" placeholder="Numéro du téléphone">
                <label for="numTelephone">Numéro du téléphone</label>
            </div>
            <div class="form-floating mb-3 d-flex align-items-center">
                <input
                  type="{{ showPassword1 ? 'text' : 'password' }}"
                  class="form-control flex-grow-1"
                  id="motDePasse"
                  placeholder="Mot de passe"
                  [(ngModel)]="clientDto.motDePasse"
                  name="motDePasse"
                  required
                  [(ngModel)]="password1"
                />
                <label for="motDePasse">Mot de passe</label>
                <span class="password-toggle-icon" (click)="togglePasswordVisibility1()">
                  <i class="fas" [ngClass]="showPassword1 ? 'fa-eye-slash' : 'fa-eye'"></i>
                </span>
              </div>
              <div class="form-floating d-flex align-items-center">
                <input
                  type="{{ showPassword2 ? 'text' : 'password' }}"
                  class="form-control flex-grow-1"
                  id="password2"
                  placeholder="Confirmer mot de passe"
                  [(ngModel)]="password2"
                  name="password2"
                  required
                />
                <label for="password2">Confirmer mot de passe</label>
                <span class="password-toggle-icon" (click)="togglePasswordVisibility2()">
                  <i class="fas" [ngClass]="showPassword2 ? 'fa-eye-slash' : 'fa-eye'"></i>
                </span>
              </div>
              
              
            <br><br>
            <div class="d-flex justify-content-between">
                <a routerLink="/login2" class="btn btn-link">Se connecter</a>
                <button type="button" class="btn btn-primary" (click)="inscrire()"><i class="fa-regular fa-square-check" style="color: #ffffff;"></i> &nbsp;S'inscrire </button>
            </div>
        </div>
    </div>

</div>