<div class="row">

    <div class="col-md-7 m-2">
        Explorez notre catalogue convivial, personnalisez vos préférences, et faites vos achats en toute confiance. Votre satisfaction est notre priorité. Découvrez une nouvelle façon de faire vos achats en ligne avec <b>Librairie</b>.
    </div>
    <div class="col-md-4 m-2">
        <div class="row">
            <div class="col-md-1">
                <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="col-md-11">
                Librairie
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="col-md-11">
                Librairie
            </div>
        </div>
    </div>


</div>
