<div class="col m-2 conteneur-parent">
    <div class="row m-3">
        <div class="col-md-7 p-0">
            <h3>Liste des utilisateurs</h3>
        </div>
        <div class="col-md-5 text-end">
            <app-bouton-action (clickEvent)="nouveauUtilisateur()"></app-bouton-action>
        </div>
    </div>
    <div class="col m-3">
        <div class="row p-3 d-flex justify-content-center align-items-center border-editer text-danger" *ngIf="!(listUtilisateurs.length > 0)">
            Pas des utilisateurs enregistrées
        </div>
        <div class="row m-3 alert alert-danger d-flex justify-content-center align-items-center border-editer" *ngIf="errorMsg.length > 0">
            {{errorMsg}}
        </div>
        <app-detail-user *ngFor="let utlisateur of paginatedUsers" [utilisateur]="utlisateur" (suppressionEvent)="handleSuppression($event)"></app-detail-user>
    </div>
    <div class="row dernier-enfant" *ngIf="(listUtilisateurs.length / itemsPerPage) > 1">
        <app-pagination [totalItems]="listUtilisateurs.length" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (pageChange)="onPageChange($event)"></app-pagination>
    </div>


</div>