<div class="row m-2 p-2 mb-2  default-content">
    <h3 class="text-center" appTextColor>Description de la librairie</h3>
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active m-2">
            <img src="assets\librairieImg1.jpg" class="d-block w-100" width="150px" height="250px" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Bienvenue à notre et votre librairie !</h5>
              <p>Découvrez un univers où les mots prennent vie et où les histoires vous transportent vers des mondes inexplorés. Notre librairie est un lieu où les passionnés de lecture se rencontrent, où les rêveurs trouvent leur inspiration, et où chaque page tournée révèle de nouvelles aventures.</p>
            </div>
          </div>
          <div class="carousel-item m-2">
            <img src="assets\librairieImg2.jpg" class="d-block w-100" width="150px" height="250px" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>L'univers de lecture</h5>
              <p>Plongez dans notre vaste collection de livres soigneusement sélectionnés, allant des classiques intemporels aux derniers best-sellers. Que vous soyez à la recherche d'une nouvelle saga captivante, d'un guide pratique, d'une histoire poignante, ou même d'une aventure pour les plus jeunes lecteurs, vous trouverez ici de quoi nourrir votre curiosité et stimuler votre imagination.</p>
            </div>
          </div>
          <div class="carousel-item m-2">
            <img src="assets\librairieImg3.avif" class="d-block w-100" width="150px" height="250px" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>E-Library</h5>
              <p>Dans notre librairie en ligne, vous trouverez bien plus que des livres : c'est un véritable trésor littéraire à portée de clic. Notre plateforme de vente vous offre la commodité de parcourir notre collection depuis le confort de votre foyer, à toute heure du jour ou de la nuit. Que vous soyez à la recherche d'un cadeau spécial, d'un livre pour enrichir votre bibliothèque personnelle, ou simplement d'une lecture pour vous évader, notre site est là pour répondre à tous vos besoins littéraires.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
