<div class="row p-3">
    <div class="col-md-5 m-2 border-edit">
        <br><br>
        <div class="row m-1 p-1 d-flex justify-content-center align-items-center">
            <img [src]="user.image ? user.image : 'assets/profilImg.png'" class="rounded-circle" height="150px" width="150px">
        </div>
        <br>
        <div class="row m-1 p-1 d-flex justify-content-center align-items-center">
            <h5 class="text-center">{{user.nom}} {{user.prenom}}</h5>
        </div>
        <div class="row m-1 p-1 d-flex justify-content-center align-items-center">
            <small class="form-text text-muted text-center">{{user.adresse}}</small>
        </div>
        <br><br><br>
    </div>
    <div class="col">

    </div>
    <div class="col-md-6 m-2 border-edit">
        <div class="alert alert-danger text-center" *ngIf="errorMsg.length > 0">
            {{errorMsg}}
        </div>
        <form>
            <div class="mb-1 p-3 row d-flex align-items-center">
                <div class="col-md-11 form-floating">
                    <input
                  type="{{ showPassword1 ? 'text' : 'password' }}"
                  class="form-control flex-grow-1"
                  id="oldPassword"
                  placeholder="Mot de passe actuel"
                  [(ngModel)]="password1"
                  name="oldPassword"
                  [(ngModel)]="oldPassword"
                  required
                />
                <label for="oldPassword">Mot de passe actuel</label>
                </div>
                <div class="col-md-1">
                    <span class="password-toggle-icon" (click)="togglePasswordVisibility1()">
                        <i class="fas" [ngClass]="showPassword1 ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </span>
                </div>
            </div>
            <div class="mb-1 p-3 row form-floating d-flex align-items-center">
                <div class="col-md-11 form-floating">
                    <input
                  type="{{ showPassword2 ? 'text' : 'password' }}"
                  class="form-control flex-grow-1"
                  id="motDePasse"
                  placeholder="Nouveau mot de passe"
                  [(ngModel)]="password2"
                  name="motDePasse"
                  [(ngModel)]="changerPasswordDto.motDePasse"
                  required
                />
                <label for="motDePasse">Nouveau mot de passe</label>
                </div>
                <div class="col-md-1">
                    <span class="password-toggle-icon" (click)="togglePasswordVisibility2()">
                        <i class="fas" [ngClass]="showPassword2 ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </span>
                </div>
            </div>
            <div class="mb-1 p-3 row form-floating d-flex align-items-center">
                <div class="col-md-11 form-floating">
                    <input
                  type="{{ showPassword3 ? 'text' : 'password' }}"
                  class="form-control flex-grow-1"
                  id="confirmMotDePasse"
                  placeholder="Confirmer le mot de passe"
                  [(ngModel)]="password3"
                  name="confirmMotDePasse"
                  [(ngModel)]="changerPasswordDto.confirmMotDePasse"
                  required
                />
                <label for="confirmMotDePasse">Confirmer le mot de passe</label>
                </div>
                <div class="col-md-1">
                    <span class="password-toggle-icon" (click)="togglePasswordVisibility3()">
                        <i class="fas" [ngClass]="showPassword3 ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </span>
                </div>
            </div>
            <br><br><br>
            <div class="col d-flex justify-content-end align-items-end">
                <button type="button" class="btn btn-danger" (click)="cancelClick()"><i class="fa-solid fa-ban"></i>&nbsp;Annuler</button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-primary" (click)="changePassword()"><i class="fa-solid fa-floppy-disk"></i>&nbsp;Enregistrer</button>
            </div>
        </form>
    </div>
</div>