
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="isFirstPage()">
        <a class="page-link" href="#" aria-label="Previous" (click)="previousPage($event)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of getPaginationArray()">
        <a class="page-link" href="#" (click)="setCurrentPage(page, $event)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="isLastPage()">
        <a class="page-link" href="#" aria-label="Next" (click)="nextPage($event)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
</nav>
  
  